{% extends 'base.html' %}
{% block body %}
<div class="wrapper">
        <div class="left-column">
                <div class="button-container">
                        <p class="button_solid017"><a href="{{ url_for('items') }}">商品名登録画面</a></p>
                        <p class="button_solid017"><a href="{{ url_for('sales') }}">販売実績登録画面</a></p>
                </div><!-- /.button-container -->
        </div><!-- /.left-column -->
        <div class="right-column">
                <div class="item-container">
                        <h1 class="main-title">売上管理表</h1>
                <div class="item-container">
        </div><!-- /.right-column -->
</div><!-- /.wrapper -->
{% endblock %}